{
    "pipelineLogUri": "#{myS3LogsBucket}/datapipeline-logs/",
    "name": "Default",
    "failureAndRerunMode": "CASCADE",
    "resourceRole": "#{myDatapipelineResourceRole}",
    {{^ondemand}}
    "scheduleType": "cron",
    "schedule": {
        "ref": "ScheduleId"
    },
    {{/ondemand}}
    {{#ondemand}}
    "scheduleType": "ondemand",
    {{/ondemand}}
    "role": "#{myDatapipelineRole}",
    "id": "Default",
    "onFail": {
        "ref": "PipelineFailureNotify"
    }

}
