{
    "objects": [
        {{> default }},
        {{> schedule }}

        {{> snsalarm }},

    {{> resources }},
        {
            "directoryPath": "{{scriptsSrc}}",
            "type": "S3DataNode",
            "id": "myPythonFiles",
            "name": "myPythonFiles"
        },
        {
            "name": "MAP_db_migration_flyway",
            "scriptUri": "{{scriptsSrc}}/flyway-runner.sh",
            "scriptArgument": ["#{mySessionEnvironment}",
                               "#{myMapSecretsBucket}",
                               "{{scriptsSrc}}",
                               "#{myMapMySqlDbHost}",
                               "#{myMapMySqlDbuser}",
                               "#{myMapMySqlDbPort}",                               
                               "#{myS3DataBucket}",
                               "#{myAlarmARN}"
                              ],
            "stage": "true",
            "input": [{"ref": "myPythonFiles"}
                      ],
            "type": "ShellCommandActivity",
            "stage": "true",
            "parent": {
                "ref": "ParentOfStepsThatNeedARunner"
            },
            "id": "db_migration_flyway",
            "onSuccess": {
                "ref": "PipelineSuccessNotify"
            },
            "maximumRetries": "0"
        }
    ]
}
