{{^ondemand}}
{{#runOnce}}
{
    "startAt": "FIRST_ACTIVATION_DATE_TIME",
    "name": "Schedule",
    "period": "1 Day",
    "occurrences": "1",
    "type": "Schedule",
    "id": "ScheduleId"
},
{{/runOnce}}
{{^runOnce}}
{
    "startDateTime": "{{schedule.startDate}}T{{schedule.startTime}}",
    "name": "Schedule",
    "period": "{{schedule.period}}",
    "type": "Schedule",
    "id": "ScheduleId"
},
{{/runOnce}}
{{/ondemand}}
